{% extends "estudiantes/base.html" %}
{% load staticfiles %}

{% block content %}


  <section id="portada" class="section-white animate fadeInUp delay-05s" >
  <article>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static "assets/img/portada1.jpg"%}" alt="...">
        </div>
        <div class="item">
          <img src="{% static "assets/img/portada2.jpg"%}" alt="...">
        </div>
        <div class="item">
          <img src="{% static "assets/img/portada3.jpg"%}" alt="...">
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </article>
  </section>
  <div class="overlay-detail">
      <article>
    <a href="#portada"><i class="fa fa-angle-down"></i></a>
</article>
  </div>
<section id="clases" class="section-white animate fadeInUp" >

  <div class="row">
    <article>
      <div class="col-md-12">
        <div class="col-md-2 clases-cont">

      <img src="{% static "assets/img/hip-hop.jpg"%}" class="image">
    </div>
    <div class="col-md-2 clases-cont">
      <img src="{% static "assets/img/bachata.jpg"%}" class="image">
    </div>
    <div class="col-md-2 clases-cont">
      <img src="{% static "assets/img/ballet.jpg"%}" class="image">
    </div>
    <div class="col-md-2 clases-cont">
      <img src="{% static "assets/img/salsa.jpg"%}" class="image">
    </div>
    <div class="col-md-2 clases-cont">
      <img src="{% static "assets/img/tango.jpg"%}" class="image">
    </div>
    <div class="col-md-2 clases-cont">
      <img src="{% static "assets/img/kizomba.jpg"%}" class="image">
    </div>
    </div>
    </article>
  </div>

</section>

<section id="instructores" class="animate fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p class="text-instructores">Tú dispones del horario y nosotros <br /> vamos hasta tu casa</p>
        <span id="largo"></span>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2 class="title-instructores">Tenemos los mejores bailarines a tu disposición</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-xs-4 siluetas">
        <img src="{% static "assets/img/silueta-salsa.png"%}">
        <p>Instructor de <br> Salsa</p>
        <button class="boton-instructores" type="button"> Leer Más </button>
      </div>
      <div class="col-md-2 col-xs-4 siluetas">
        <img id="balletcito" src="{% static "assets/img/silueta-ballet.png"%}">
        <p>Instructor de <br> Ballet</p>
        <button class="boton-instructores" type="button"> Leer Más </button>
      </div>
      <div class="col-md-2 col-xs-4 siluetas">
        <img src="{% static "assets/img/silueta-tango.png"%}">
        <p>Instructor de <br> Tango</p>
        <button class="boton-instructores" type="button"> Leer Más </button>
      </div>
      <div class="col-md-2 col-xs-4 siluetas">
        <img src="{% static "assets/img/silueta-Hip-hop.png"%}">
        <p>Instructor de Hip Hop</p>
        <button class="boton-instructores" type="button"> Leer Más </button>
      </div>
      <div class="col-md-2 col-xs-4 siluetas">
        <img src="{% static "assets/img/silueta-kizomba.png"%}">
        <p>Instructor de Kizomba</p>
        <button class="boton-instructores" type="button"> Leer Más </button>
      </div>
      <div class="col-md-2 col-xs-4 siluetas">
        <img src="{% static "assets/img/silueta-bachata.png"%}">
        <p>Instructor de Bachata</p>
        <button class="boton-instructores" type="button"> Leer Más </button>
      </div>
    </div>

  </div>

</section>

<section id="nosotros" class="section-padding animate fadeInUp delay-05s">

    <div class="row">
        <article>
      <div class="col-md-12">
        <h1 id="title-nosotros">¡Con nosotros aprenderás!</h1>
        <br/><br/>
        <br/>
        <br/>
        <p id="text-nosotros">Si quieres aprender los mejores pasos de moda, encontrar tu ritmo y emplear las técnicas más sofisticadas, <br /> ingresa a nuestra academia, te daremos todas las herramientas necesarias para que seas el mejor.</p>
        <br/>
        <br/>
      </div>

      <div class="col-md-12">
        <div class="col-md-2 clases-cont2">
          <img src="{% static "assets/img/tecnica-en-los-pasos.jpg"%}" class="image">

        </div>

        <div class="col-md-2 clases-cont2">
          <img src="{% static "assets/img/definición-de-estilo.jpg"%}" class="image">

        </div>

        <div class="col-md-2 clases-cont2">
          <img src="{% static "assets/img/interpretacion.jpg"%}" class="image">

        </div>

        <div class="col-md-2 clases-cont2">
          <img src="{% static "assets/img/variedad-de-giros.jpg"%}" class="image">

        </div>

        <div class="col-md-2 clases-cont2">
          <img src="{% static "assets/img/ritmica-musica.jpg"%}" class="image">

        </div>

        <div class="col-md-2 clases-cont2">
          <img src="{% static "assets/img/musicalidad.jpg"%}" class="image">

        </div>


    </div>
    </article>
  </div>
</section>

<section id="paquetes" class="section-padding animate fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <h1 id="title-paquetes">Paquetes</h1>
    </div>

    <div class="row promo-paquetes">
      <div class="col-md-2"></div>
      <div class="col-md-4 fondo-paquete">
        <div class="col-md-12 paquetesX">
          <p class="descripcion-paquete3">Clase Única Individual</p>
          <p class="descripcion-paquete3">2 Horas</p>
          <p class="descripcion-paquete3"><span class="precio">$75.000</span></p>
          <button class="boton-paquete">        <script
            src="https://checkout.epayco.co/checkout.js"
            class="epayco-button"
            data-epayco-key="491d6a0b6e992cf924edd8d3d088aff1"
            data-epayco-amount="75000"
            data-epayco-name="Bailante"
            data-epayco-description="Bailante"
            data-epayco-currency="cop"
            data-epayco-country="co"
            data-epayco-test="false"
            data-epayco-external="false"
            data-epayco-response="https://izaxwolfapp.com.ve/Bailante/response.html"
            data-epayco-confirmation="https://izaxwolfapp.com.ve/Bailante/confirmation.php">
        </script></button>
        </div>

        <div class="col-md-12 paquetes1">
          <p class="descripcion-paquete3">Mensualidad </br> <span class="precio2">12 clases x $780.000</span> </br>
            </br> <span class="precio">Ahorra $120.000</span></p>

          <button class="boton-paquete">
                      <script
            src="https://checkout.epayco.co/checkout.js"
            class="epayco-button"
            data-epayco-key="491d6a0b6e992cf924edd8d3d088aff1"
            data-epayco-amount="120000"
            data-epayco-name="Bailante"
            data-epayco-description="Bailante"
            data-epayco-currency="cop"
            data-epayco-country="co"
            data-epayco-test="false"
            data-epayco-external="false"
            data-epayco-response="https://izaxwolfapp.com.ve/Bailante/response.html"
            data-epayco-confirmation="https://izaxwolfapp.com.ve/Bailante/confirmation.php">
        </script>
            </button>
        </div>
      </div>

      <div class="col-md-4 fondo-paquete">
          <div class="col-md-2"></div>
        <div class="col-md-12 paquetesX">
          <p class="descripcion-paquete3">Clase Única en Pareja</p>
          <p class="descripcion-paquete3">2 Horas</p>
          <p class="descripcion-paquete3"><span class="precio">$97.000</span></p>
          <button class="boton-paquete">
                      <script
            src="https://checkout.epayco.co/checkout.js"
            class="epayco-button"
            data-epayco-key="491d6a0b6e992cf924edd8d3d088aff1"
            data-epayco-amount="97000"
            data-epayco-name="Bailante"
            data-epayco-description="Bailante"
            data-epayco-currency="cop"
            data-epayco-country="co"
            data-epayco-test="false"
            data-epayco-external="false"
            data-epayco-response="https://izaxwolfapp.com.ve/Bailante/response.html"
            data-epayco-confirmation="https://izaxwolfapp.com.ve/Bailante/confirmation.php">
        </script>
            </button>
        </div>
        <div class="col-md-12 paquetes1">
          <p class="descripcion-paquete3">Clase Mensual en Pareja </br> <span class="precio2">12 clases x $990.000</span> </br>
            </br> <span class="precio">Ahorra $174.000</span></p>
          <button class="boton-paquete">
                      <script
            src="https://checkout.epayco.co/checkout.js"
            class="epayco-button"
            data-epayco-key="491d6a0b6e992cf924edd8d3d088aff1"
            data-epayco-amount="174000"
            data-epayco-name="Bailante"
            data-epayco-description="Bailante"
            data-epayco-currency="cop"
            data-epayco-country="co"
            data-epayco-test="false"
            data-epayco-external="false"
            data-epayco-response="https://ejemplo.com/respuesta.html"
            data-epayco-confirmation="https://izaxwolfapp.com.ve/Bailante/confirmation.php">
        </script>
            </button>
        </div>
      </div>

      <div class="col-md-2"></div>
    </div>
</section>

<section id="testimonios" class="section-padding animate fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <h1 id="title-testimonio">Testimonios de nuestros clientes</h1>
    </div>
    <div class="col-md-12 iframecito">

{% include "estudiantes/carousel.html" %}
    </div>
    <div class="col-md-4.offset-md-4">
      <img src="{% static "assets/img/bailarina-testimonios.png"%}" class="bailarina-testimonio">
    </div>
</section>

<section id="contacto" class="section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="_formulario">
          <p>
            ¿Te animas a tomar clases <br /> sin salir de casa?
          </p>

          <form class="formulario" method="POST" action="https://formspree.io/atencion@easywayifg.com.co">
            <div class="form_div">
              <input type="text" placeholder="Nombre y Apellido" name="name">
            </div>
            <div class="form_div">
              <input type="tel" name="telefono" placeholder="Teléfono">
            </div>
            <div class="form_div">
              <input type="email" name="email" placeholder="Correo electrónico">
            </div>

            <button type="submit" class="btn" style="margin-top:20px"><span>Enviar</span></button>

            <input type="hidden" name="_next" value="http://easywayplus.com/info/gracias.html">
            <input type="hidden" name="_subject" value="Nuevo contacto desde el sitio web de Bailante">
            <input type="text" name="_gotcha" style="display:none">

          </form>
        </div>
      </div>
      <div class="col-md-8">
        <p class="contact-title">¡Vamos a donde tu quieras que vayamos!</p>
      </div>

    </div>

  </div>


</section>

{% endblock content%}
